a {
    text-decoration: none;
}

h1 {
    font-family: $font-title;
    font-size: 40px;
    letter-spacing: 4.4px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 18px;
    line-height: 1.8;
     @include MQ(XSplus){
        font-size: 13px;
    }
    @include MQ(Mplus){
        font-size: 15px;
    }
    @include MQ(XLplus){
        font-size: 18px;
    }
}


header {
    color: $medpurple;
    font-size: 16px;
    height: 25px;
}

header .tab {
    float: left;
}

.btn {
    border: 1px solid $limegreen;
    padding: 10px 20px;
}

/*header ul {
    float: right;
    padding-top: 3px;
    margin: 0
}

header ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;

}*/

/*.innerContent {
    @include MQ(XSplus){
        width: 95%;
    }
    @include MQ(Mplus){
        width: 80%;
    }
    @include MQ(Lplus){
        width: 70%;
    }
}*/

.action {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid $limegreen;
    color: $medpurple;
    font-weight: 700;
}

.circle {
    display:block;
    float:left;
    padding: 33%;
    width:auto;
    height:auto;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    border: 1px solid $deeppurple;
    text-align:center;
    position: relative;
    margin: 0 auto;
}

.circle:before {
    content: " ";
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 1px solid $lightgray;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
}


.panel {
  background: blue;
  z-index: 9999;
}

.panel ul {
    border-top: 2px solid red;
    width: 100%;
    padding: 0;
}

.panel ul li {
    line-height: 1.5;
    display: list-item;
    list-style: none;
    padding: 0;
}

.panel li a {
    color: white;
    display: block;
    padding: 1em;
}


.eye-catcher {
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    height: auto;
    @include MQ(XSplus){
       height: 144px;
       margin-top: 10px;
    }
    @include MQ(Mplus){
       height: 216px;
       margin-top: 20px;
    }
    @include MQ(XLplus){
       height: 288px;
    }

}

.inverted-triangle {
    position: relative;
    margin: 0 auto;
    @include MQ(XSplus){
        width: 210px;
        height: 144px;
    }
    @include MQ(Mplus){
        width: 315px;
        height: 216px;
    }
    @include MQ(XLplus){
        width: 420px;
        height: 288px;
    }
}

.eye-catcher img.logo {
    position: relative;
    top: -220px;
    display: block;
    margin: 0 auto;
    width: 205px;
    height: 205px;
    @include MQ(XSplus){
        width: 80px;
        height: 80px;
          top: -150px;
    }
    @include MQ(Mplus){
        width: 135px;
        height: 135px;
        top: -230px;
    }
    @include MQ(XLplus){
        width: 170px;
        height: 170px;
        top: -310px;
    }
}

.eye-catcher h1 {
    position: relative;
    bottom: 85px;
    margin: 0 auto;
    display: block;
    text-align: center;
    @include MQ(XSplus){
        font-size: 18px;
        bottom: 135px;
    }
    @include MQ(Mplus){
        font-size: 24px;
         bottom: 195px;
    }
    @include MQ(XLplus){
        font-size: 34px;
        bottom: 265px;
    }
}

.definition {
    line-height: 2.2;
     @include MQ(Mneg){
       display: none;
    }
}

.explanation {
    margin: 40px auto;

}

.explanation h2 {
    display: block;
    text-align: center;
    margin-top: 40px;
    font-weight: 500;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3e3d4d), color-stop(31%,#3e3d4d), color-stop(96%,#7d7ca3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #3e3d4d 0%,#3e3d4d 31%,#7d7ca3 96%); /* Chrome10+,Safari5.1+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     @include MQ(XSplus){
        font-size: 17px;
    }
    @include MQ(Mplus){
        font-size: 22px;
    }
    @include MQ(XLplus){
        font-size: 34px;
        bottom: 265px;
    }
}

#projects {
    margin-bottom: 150px;
    @include MQ(XSplus){
        margin-top: 60px
    }
    @include MQ(Mplus){
        margin-top: 80px
    }
    @include MQ(XLplus){
        margin-top: 150px
    }

    .diagonal-banner {
        width: 100%;
        left: 0;
        height: 150px;
        position: absolute;
        overflow: hidden;

    }
    .owl-item {
        float: left;
    }
    .circle-stories {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .circle-story {
        float: left;
        margin-right: 1.5em;
        @include MQ(Mplus){
            margin-right: 1em;
        }
    }

    .circle-story:last-child{
        margin-right: 0;
    }

    .circle-container {
        margin: 0 auto;
        overflow: hidden;
    }

    .logo-container {
        position: absolute;
        height: 40%;
        left: 56%;
        top: 13%;
    }


    .project-link:hover .circle, .action:hover .circle{
        border: 1px solid $limegreen;
    }

    .circle {
        left: 2em;
         @include MQ(XSplus){
            padding: 24%;
            left: 5em;
         }
         @include MQ(Splus){
            left: 3em;
         }
         @include MQ(Mplus){
            padding: 33%;
            left: 2em;
        }

        transition-property: border;
        transition-duration: 0.5s;

            img {
                position: absolute;
                width: 100px;
                height: 80px;
            }

            .project-title {
                text-align: center;
                width: 80%;
                border-top: 1px solid $medpurple;
                position: absolute;
                bottom: 18%;
                left: 10%;
                padding-top: 11px;
                font-size: 26px;
                font-weight: 500;
                 @include MQ(XSplus){
                    font-size: 16px;
                    padding-top: 8px;
                }
                @include MQ(Splus){
                    padding-top: 4px;
                    font-size: 14px;
                }
                @include MQ(Mplus){
                    font-size: 20px;
                    padding-top: 4px;
                }
                @include MQ(XLplus){
                    font-size: 24px;
                }
            }

    }

    .brief {
        position: relative;
        margin-top: 30px;
        padding: 0 5px 0 5px;
        @include MQ(XLplus){
           padding: 0 10px 0 10px;
        }

    }

    .action {
        display: block;
        width: 80%;
        margin-top: 10px;
        @include MQ(XSplus){
            font-size: 14px;
            width: 50%;
        }
        @include MQ(Splus){
            width: 75%;
        }
        @include MQ(Mplus){
            font-size: 16px;
            letter-spacing: .1em;
        }
        @include MQ(XLplus){
            font-size: 20px;
        }

    }



}

#about{
    position: relative;
    width: 100%;
    overflow: hidden;

    .description {
        float: right;
        width: 70%;
    }

    h2 {
        font-weight: normal;
    }

    .background {
        float: right;
        margin-left: 3em;
    }

    .outro {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 2em;
        float: left;
        text-align: center;
    }

    .circle-container {
        width: 45%;
        height: auto;
        position: absolute;
        top: 8%;
    }

    .circle {
        img {
            position: absolute;
        }

    }
    .circle:before {
    background: url('../../_/images/gravatarBIG.jpg');
    background-size: 100%;
    }

    .resume {
        width: 50%;
        position: relative;
        float: left;
        .action {
            width: 75%;
        }
    }

    .portfolio {
        width: 50%;
        position: relative;
        float: left;
        .action {
            width: 75%;
        }
    }
    .resume-icon, .portfolio-icon {
        width: 25%;
        position: relative;
        margin: 0 auto;
    }


}

#hire{
    position: relative;
    margin-top: 50px;
    text-align: center;
    h2 {
        font-weight: normal;
        text-align: left;
        padding-left: 20%;
    }


    .phone, .email {
        position: relative;
        float: left;
        margin-right: 3em;
        height: 50px;
        img {
            vertical-align: middle;
        }
        span {
        font-weight: normal;
        }
    }

    .contact-info {
        width: 60%;
        height: 50px;
        margin: 0 auto;
    }
    .number {
        vertical-align: middle;
    }

    .address {
        display: inline-block;
    }
    .hire-me {
        font-size: 30px;
        font-weight: 500;
        position: relative;
        margin: 30px auto 0 auto;
        width: 100%;
        float: left;
        .btn {
            transition-property: background, color;
            transition-duration: 0.5s;
        }
    }


    .btn:hover  {
        background: $limegreen;
        color: white;
    }

}

.footer {
    color: $lightgray;
    background: $medpurple;
    margin-top: 30px;
    p {
        margin: 0;
        font-size: 10px;
    }
}

