a {
    text-decoration: none;
}

h1 {
    font-family: $font-title;
    font-size: 40px;
    letter-spacing: 4.4px;
    font-weight: normal;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 18px;
    line-height: 1.8;
     @include MQ(XSplus){
        font-size: 14px;
    }
    @include MQ(Mplus){
        font-size: 15px;
    }
    @include MQ(XLplus){
        font-size: 18px;
    }
}

.banner {
    height: 40px;
}


header {
    color: $medpurple;
    font-size: 16px;
    height: 25px;
}

header .tab {
    float: right;
    position: relative;
    top: 10px;
}

.btn {
    border: 1px solid $limegreen;
    padding: 10px 20px;
}

.left-right {
    position: absolute;
    height: 150px;
}



/*header ul {
    float: right;
    padding-top: 3px;
    margin: 0
}

header ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;

}*/

/*.innerContent {
    @include MQ(XSplus){
        width: 95%;
    }
    @include MQ(Mplus){
        width: 80%;
    }
    @include MQ(Lplus){
        width: 70%;
    }
}*/

.innerContent {
    position: relative;
}

.action {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid $limegreen;
    color: $medpurple;
    font-weight: 700;
}

.circle {
    display:block;
    float:left;
    padding: 33%;
    width:auto;
    height:auto;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    border: 1px solid $deeppurple;
    text-align:center;
    position: relative;
    margin: 0 auto;
}

.circle:before {
    content: " ";
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 1px solid $lightgray;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  background: -moz-linear-gradient(45deg,  rgba(31,30,102,0.09) 0%, rgba(85,84,139,0.04) 24%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(31,30,102,0.09)), color-stop(24%,rgba(85,84,139,0.04)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(31,30,102,0.09) 0%,rgba(85,84,139,0.04) 24%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(31,30,102,0.09) 0%,rgba(85,84,139,0.04) 24%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(31,30,102,0.09) 0%,rgba(85,84,139,0.04) 24%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(31,30,102,0.09) 0%,rgba(85,84,139,0.04) 24%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171f1e66', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}


.panel {
  background: rgb(42, 58, 73);
  z-index: 9999;
  position: fixed;
  right: -10em;
}

.panel ul {
    width: 100%;
    padding: 0;
}

.panel ul li {
    line-height: 1.5;
    display: list-item;
    list-style: none;
    padding: 0;
}

.panel a:hover {
    border-bottom: 1px solid $limegreen;
}

.panel li a {
    color: white;
    display: block;
    margin: 1.2em;
    border-bottom: 1px solid rgb(42, 58, 73);
    transition-property: border-bottom;
    transition-duration: 0.3s;
}


.eye-catcher {
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    height: auto;
    @include MQ(XSplus){
       height: 144px;
       margin-top: 10px;
    }
    @include MQ(Mplus){
       height: 216px;
       margin-top: 20px;
    }
    @include MQ(XLplus){
       height: 288px;
    }

}

.inverted-triangle {
    position: relative;
    margin: 0 auto;
    @include MQ(XSplus){
        width: 210px;
        height: 144px;
    }
    @include MQ(Mplus){
        width: 315px;
        height: 216px;
    }
    @include MQ(XLplus){
        width: 420px;
        height: 288px;
    }
}

.eye-catcher img.logo {
    position: relative;
    top: -220px;
    display: block;
    margin: 0 auto;
    width: 205px;
    height: 205px;
    @include MQ(XSplus){
        width: 80px;
        height: 80px;
          top: -150px;
    }
    @include MQ(Mplus){
        width: 135px;
        height: 135px;
        top: -230px;
    }
    @include MQ(XLplus){
        width: 170px;
        height: 170px;
        top: -310px;
    }
}

.eye-catcher h1 {
    position: relative;
    bottom: 85px;
    margin: 0 auto;
    display: block;
    text-align: center;
    @include MQ(XSplus){
        font-size: 18px;
        bottom: 135px;
    }
    @include MQ(Mplus){
        font-size: 24px;
         bottom: 195px;
    }
    @include MQ(XLplus){
        font-size: 34px;
        bottom: 265px;
    }
}

.definition {
    line-height: 2.2;
     @include MQ(Mneg){
       display: none;
    }
}

.explanation {
    margin: 40px auto;

}

.explanation h2 {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3e3d4d), color-stop(31%,#3e3d4d), color-stop(96%,#7d7ca3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #3e3d4d 0%,#3e3d4d 31%,#7d7ca3 96%); /* Chrome10+,Safari5.1+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     @include MQ(XSplus){
        font-size: 17px;
        margin-top: 25px;
    }
    @include MQ(Mplus){
        font-size: 22px;
        margin-top: 35px;
    }
    @include MQ(XLplus){
        font-size: 34px;
        bottom: 265px;
        margin-top: 60px;
    }
}

#projects {
    margin-bottom: 150px;
    position: relative;
    @include MQ(XSplus){
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @include MQ(Mplus){
        margin-top: 80px;
    }
    @include MQ(XLplus){
        margin-top: 150px;
    }

    .left-right {
        top: 25px;
        width: 97%;
        @include MQ(XSplus){
           top: -15px;
        }
         @include MQ(Mplus){
           top: 15px;
        }
    }

    .left-btn {
        position: absolute;
        left: -55px;
        height: 100%;
        width: 40px;
        cursor: pointer;
         @include MQ(XSplus){
           left: 15px;
        }
        @include MQ(XSplus){
           left:  0;
        }
        @include MQ(Lplus){
           left: -55px;
        }
    }

    .left-btn:hover .arrow-left {
        border-right: 20px solid $limegreen;
        margin-left: -6px;
    }

    .left-btn:hover .arrow-left-overlay {
        margin-left: -4px;
    }

    .right-btn:hover .arrow-right {
        border-left: 20px solid $limegreen;
        margin-left: 6px;
    }

    .right-btn:hover .arrow-right-overlay {
        margin-left: 4px;
    }


    .arrow-left {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right:20px solid $deeppurple;
        position: absolute;
        top: 35%;
        transition-property: border-right, margin-left;
        transition-duration: 0.3s;
    }

    .arrow-left-overlay {
        position: absolute;
        margin-left: 1px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right:20px solid white;
        top: 35%;
        transition-property: margin-left;
        transition-duration: 0.3s;
    }

    .right-btn {
        position: absolute;
        right: -55px;
        height: 100%;
        width: 40px;
        cursor: pointer;
        z-index: 1000;
        @include MQ(XSplus){
            right: -25px;
        }
        @include MQ(Lplus){
            right: -85px;
        }
    }

    .arrow-right {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left:20px solid $deeppurple;
        position: absolute;
        top: 35%;
        transition-property: border-left, margin-left;
        transition-duration: 0.3s;
    }

    .arrow-right-overlay {
        position: absolute;
        margin-left: -1px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left:20px solid white;
        top: 35%;
        transition-property: margin-left;
        transition-duration: 0.3s;
    }
    .owl-item {
        float: left;
    }
    .circle-stories {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .circle-story {
        float: left;
        margin-right: 1.5em;
        @include MQ(Mplus){
            margin-right: 1em;
        }
    }

    .circle-story:last-child{
        margin-right: 0;
    }

    .circle-container {
        margin: 0 auto;
        overflow: hidden;
    }

    .logo-container {
        position: absolute;
        height: 40%;
        left: 56%;
        top: 13%;
    }


    .project-link:hover .circle, .action:hover .circle{
        border: 1px solid $limegreen;
    }

    .circle {
        left: 2em;
         @include MQ(XSplus){
            padding: 24%;
            left: 4.5em;
         }
         @include MQ(Splus){
            left: 3em;
         }
         @include MQ(Mplus){
            padding: 33%;
            left: 2.4em;
        }

        transition-property: border;
        transition-duration: 0.3s;

            img {
                position: absolute;
                width: 100px;
                height: 80px;
            }

            .project-title {
                text-align: center;
                width: 80%;
                border-top: 1px solid $medpurple;
                position: absolute;
                bottom: 18%;
                left: 10%;
                padding-top: 11px;
                font-size: 26px;
                font-weight: 500;
                 @include MQ(XSplus){
                    font-size: 16px;
                    padding-top: 8px;
                }
                @include MQ(Splus){
                    padding-top: 4px;
                    font-size: 14px;
                }
                @include MQ(Mplus){
                    font-size: 20px;
                    padding-top: 4px;
                }
                @include MQ(XLplus){
                    font-size: 24px;
                }
            }

    }

    .brief {
        position: relative;
        margin-top: 30px;
        padding: 0 5px 0 5px;
        @include MQ(Splus){
            height: 150px;
        }
        @include MQ(Mplus){
            height: 160px;
        }
        @include MQ(MidMplus){
            height: 120px;
        }
        @include MQ(Lplus){
            height: 150px;
        }
        @include MQ(XLplus){
           padding: 0 10px 0 10px;
           height: 235px;
           overflow: hidden;
        }

    }

    .action {
        display: block;
        width: 80%;
        margin-top: 10px;
        @include MQ(XSplus){
            font-size: 14px;
            width: 50%;
        }
        @include MQ(Splus){
            width: 75%;
        }
        @include MQ(Mplus){
            font-size: 16px;
            letter-spacing: .05em;
        }
        @include MQ(XLplus){
            font-size: 20px;
        }

    }



}

#about{
    position: relative;
    width: 100%;
    overflow: hidden;

    .description {
        width: 70%;
        float: right;
        @include MQ(XSplus){
            float: left;
            width: 100%;
            margin-top: 230px;
        }
        @include MQ(Mplus){
            font-size: 16px;
            margin-top: 0px;
            letter-spacing: .05em;
        }
        @include MQ(XLplus){
            font-size: 20px;
        }

    }

    h2 {
        font-weight: normal;
    }

    .intro {
        @include MQ(XSplus){
            font-size: 18px;
        }
        @include MQ(Mplus){
            font-size: 21px;
        }
        @include MQ(XLplus){
            font-size: 23px;
        }

    }

    .background {
        @include MQ(XSplus){
             float: left;
             margin-left: 0px;
        }
        @include MQ(Mplus){
            float: right;
            margin-left: 3em;
            width: 60%;
        }
    }

    .outro {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 2em;
        float: left;
        text-align: center;
        @include MQ(XSplus){
            font-size: 20px;
            text-align: left;
        }
        @include MQ(Splus){
            font-size: 22px;
        }
        @include MQ(Mplus){
            font-size: 26px;
            text-align: left;
        }
        @include MQ (MidMplus){
            width: 65%;
            text-align: center;
            float: right;
        }
        @include MQ (XLplus){
            font-size: 30px;
        }

    }

    .circle-container {
        width: 45%;
        height: auto;
        position: absolute;
        top: 8%;
        @include MQ(XStoM){
            top: 0;
            width: 100%;
        }
        @include MQ(Splus){

        }
        @include MQ(Mplus){
            top: 80px;
        }
        @include MQ(Lplus){

        }

    }

    .circle {

        @include MQ(XSplus){
            left: 15%;
        }
        @include MQ(Splus){
            padding: 25%;
            left: 23%;
        }
        @include MQ(Mplus){
            padding: 40%;
            top: 35px;
            left: 0;
        }
        @include MQ(XLplus){
            padding: 36%;
        }


        img {
            position: absolute;
        }

    }
    .circle:before {
    background: url('../../_/images/gravatarBIG.jpg');
    background-size: 100%;
    }

    .action {
        width: 80%;
        letter-spacing: .05em;
        font-size: 24px;

        @include MQ(XSplus){
            font-size: 14px;
        }
        @include MQ(Splus){
            font-size: 18px;
        }
         @include MQ(Lplus){
                width: 65%;
        }
        @include MQ(XLplus){
                width: 55%;
        }
    }

    .resume {
        width: 50%;
        position: relative;
        float: left;

    }

    .portfolio {
        width: 50%;
        position: relative;
        float: left;
    }
    .resume-icon, .portfolio-icon {
        width: 25%;
        position: relative;
        margin: 0 auto;

        img {
            @include MQ(XSplus){
                width: 90%;
            }
            @include MQ(Mplus){
                width: 90%;
            }
        }

    }



}

#hire{
    position: relative;
    margin-top: 50px;
    text-align: center;
    @include MQ(XSplus){
        margin-left: 0;
    }
    @include MQ(Mplus){
        margin-left: 8%;
    }


    h2 {
        font-weight: normal;
        text-align: left;
        margin: 1.5em auto;
        @include MQ(XSplus){
            font-size: 18px;
        }
        @include MQ(Splus){
            font-size: 20px;
        }
    }


    .phone, .email {
        position: relative;
        float: left;
        margin-right: 0;
        height: 50px;
        @include MQ(Mplus){
            margin-right: 3em;
        }




        img {
            vertical-align: middle;
            @include MQ(XS){
                width: 36px;
            }
        }
        span {
        font-weight: normal;
        }


    }

    .contact-info {
        height: 50px;
    }
    .number {
        vertical-align: middle;
    }

    .address {
        display: inline-block;
    }
    .hire-me {
        font-size: 30px;
        font-weight: 500;
        position: relative;
        margin: 30px auto 0 auto;
        width: 100%;
        float: left;

        //CSS Triangle
   /* width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 173.2px 100px 0 100px;
    border-color: $limegreen transparent transparent transparent;
    float: left;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);*/



        .btn {
            transition-property: background, color;
            transition-duration: 0.5s;
        }
    }


    .btn:hover  {
        background: $limegreen;
        color: white;
    }

}

.footer {
    color: $lightgray;
    background: $medpurple;
    margin-top: 30px;
    p {
        margin: 0;
        font-size: 10px;
    }
}

