a {
    text-decoration: none;
}

h1 {
    font-family: $font-title;
    font-size: 40px;
    letter-spacing: 4.4px;
    font-weight: normal;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 18px;
    line-height: 1.8;
     @include MQ(XSplus){
        font-size: 14px;
    }
    @include MQ(Splus){
        font-size: 16px;
    }
    @include MQ(XLplus){
        font-size: 20px;
    }
}

.banner {
    height: 40px;
}


header {
    color: $medpurple;
    font-size: 16px;
    height: 25px;
}

header .tab {
    float: right;
    position: relative;
    top: 10px;
}

.btn {
    border: 1px solid $limegreen;
    padding: 10px 20px;
}

.left-right {
    position: absolute;
    height: 150px;
}



/*header ul {
    float: right;
    padding-top: 3px;
    margin: 0
}

header ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;

}*/

/*.innerContent {
    @include MQ(XSplus){
        width: 95%;
    }
    @include MQ(Mplus){
        width: 80%;
    }
    @include MQ(Lplus){
        width: 70%;
    }
}*/

.innerContent {
    position: relative;
}

.action {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid $limegreen;
    color: $medpurple;
    font-weight: 700;
}

.action:hover {
        border-bottom: 2px solid $limegreen;
}

.circle {
    display:block;
    float:left;
    padding: 33%;
    width:auto;
    height:auto;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    border: 1px solid $deeppurple;
    text-align:center;
    position: relative;
    margin: 0 auto;
}

.circle:before {
    content: " ";
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 1px solid $lightgray;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  background: -moz-linear-gradient(45deg,  rgba(31,30,102,0.09) 0%, rgba(85,84,139,0.04) 24%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(31,30,102,0.09)), color-stop(24%,rgba(85,84,139,0.04)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(31,30,102,0.09) 0%,rgba(85,84,139,0.04) 24%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(31,30,102,0.09) 0%,rgba(85,84,139,0.04) 24%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(31,30,102,0.09) 0%,rgba(85,84,139,0.04) 24%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(31,30,102,0.09) 0%,rgba(85,84,139,0.04) 24%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171f1e66', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

/****************** Menu *****************/

.bt-menu {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    background-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.5s, background-color 1.2s, height 0s 1.3s;
    transition: border-width 0.5s, background-color 1.2s, height 0s 1.3s;
}

.bt-menu.bt-menu-open {
    height: 100%;
    border-width: 0px 0px 0px 250px;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: border-width 0.5s, background-color 1.2s;
    transition: border-width 0.5s, background-color 1.2s;
    @include MQ(XSplus){
        border-width: 0px 0px 0px 1000px;
    }
    @include MQ(Lplus){
        border-width: 0px 0px 0px 350px;
    }
    @include MQ(XLplus){
       border-width: 0px 0px 0px 450px;
    }
}

.bt-overlay {
    position: absolute;
    width: 100%;
}

.bt-menu-open .bt-overlay {
    height: 100%;
}

.bt-menu-trigger {
    position: fixed;
    top: 0px;
    left: 20px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

    transition: background .3s;
    transition-delay: .5s;
}

.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 50%;
    height: 5%;
    background-color: $medpurple;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;

    @include MQ(Mplus){
        width: 60%;
        height: 6%;
    }
    @include MQ(XLplus){
        width: 75%;
        height: 7.5%;
    }
}

.bt-menu-trigger:hover span {
    background-color: $limegreen;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: $medpurple  ;
    content: '';
    -webkit-transition-property: transform background-color;
    transition-property: transform, color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span {
   background-color: transparent;
}

 .bt-menu-open .bt-menu-trigger {
    background: rgba(255, 255, 255, 0);
 }

.bt-menu-open .bt-menu-trigger span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    background-color: white;
}

.bt-menu-open .bt-menu-trigger span:after {
    -webkit-transform: translateY(0) rotate(-45deg);;
    transform: translateY(0) rotate(-45deg);
    background-color: white;
}



.bt-menu ul {
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;

    transition: all 1.8s;
    -webkit-transition: all 1.8s;

    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    @include MQ(XSplus){
       width: 100%;
    }
    @include MQ(Lplus){
        width: 350px;
    }
    @include MQ(XLplus){
        width: 450px;
    }
}

.bt-menu ul:first-of-type {
    top: 75px;
    left: -10em;
}

.bt-menu-open ul:first-of-type {
    top: 75px;
    left: 0em;
}

.bt-menu ul:nth-of-type(2) {
    right: 0;
    bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
    display: block;
}

.bt-menu ul:nth-of-type(2) li {
    float: left;
    font-size: 0px;
}

.bt-menu ul li {
    width: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.6s, opacity 0.8s, visibility 0s 0.3s;
    transition: transform 0.6s, opacity 0.8s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
    transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
    height: 50px;
    line-height: 50px;
    -webkit-transform: translate3d(-100%,50%,0);
    transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
    width: 60px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bt-menu ul li a {
    display: block;
    outline: none;
    text-decoration: none;
}

.bt-menu ul:first-of-type li a {
    padding: 0 40px;
    box-shadow: inset 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
    box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
    color: transparent;
    text-align: center;
    font-size: 0px;
}

.bt-menu ul li a:before {
    color: #fff;
    font-size: 24px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
    color: adjust-lightness($limegreen, 30);
}

/*.panel {
  background: rgb(42, 58, 73);
  z-index: 9999;
  position: fixed;
  right: -10em;
}

.panel ul {
    width: 100%;
    padding: 0;
}

.panel ul li {
    line-height: 1.5;
    display: list-item;
    list-style: none;
    padding: 0;
}

.panel a:hover {
    border-bottom: 1px solid $limegreen;
}

.panel li a {
    color: white;
    display: block;
    margin: 1.2em;
    border-bottom: 1px solid rgb(42, 58, 73);
    transition-property: border-bottom;
    transition-duration: 0.3s;
}*/


.eye-catcher {
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    @include MQ(XSplus){
       height: 144px;
       margin-top: 10px;
    }
    @include MQ(Mplus){
       height: 216px;
       /*width: 315px;*/
       margin-top: 20px;
    }
    @include MQ(XLplus){
       height: 288px;
    }

}

.inverted-triangle {
    margin: 0 auto;
    background: url('../images/invertedTriangle.png');
    background-size: contain;
        @include MQ(XSplus){
            width: 210px;
            height: 144px;
        }
        @include MQ(Mplus){
            width: 315px;
            height: 216px;
        }
        @include MQ(XLplus){
            width: 420px;
            height: 288px;
    }
}

.eye-catcher img.logo {
    position: relative;
    top: -220px;
    display: block;
    margin: 0 auto;
    @include MQ(XSplus){
        width: 80px;
        height: 80px;
        top: -143px;
    }
    @include MQ(Mplus){
        width: 135px;
        height: 135px;
        top: -230px;
    }
    @include MQ(XLplus){
        width: 170px;
        height: 170px;
        top: -310px;
    }
}

.eye-catcher h1 {
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    @include MQ(XSplus){
        font-size: 18px;
        bottom: 122px;
    }
    @include MQ(Mplus){
        font-size: 24px;
         bottom: 195px;
    }
    @include MQ(XLplus){
        font-size: 34px;
        bottom: 265px;
    }
}

.definition {
    line-height: 2.2;
     @include MQ(Mneg){
       display: none;
    }
}

.explanation {
    margin: 40px auto;

}

#projects {
    margin-bottom: 150px;
    position: relative;
    @include MQ(XSplus){
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @include MQ(Mplus){
        margin-top: 80px;
    }

    h2 {
        display: block;
        text-align: center;
        font-weight: 500;
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3e3d4d), color-stop(31%,#3e3d4d), color-stop(96%,#7d7ca3)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg, #3e3d4d 0%,#3e3d4d 31%,#7d7ca3 96%); /* Chrome10+,Safari5.1+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include MQ(XSplus){
            font-size: 17px;
            margin-top: 25px;
        }
        @include MQ(Splus){
            font-size: 19px;
        }
        @include MQ(Mplus){
            font-size: 22px;
            margin-top: 65px;
        }
        @include MQ(XLplus){
            font-size: 34px;
            bottom: 265px;
            margin-top: 80px;
        }
    }

    .left-right {
        top: 25px;
        width: 97%;
        @include MQ(XSplus){
           top: 20px;
        }
        @include MQ(Splus){
           top: 90px;
        }
         @include MQ(Mplus){
           top: 85px;
        }
        @include MQ(XLplus){
           top: 95px;
        }
    }

    .left-right:nth-child(2n+1) {
        @include MQ(XSplus){
           top: 500px;
        }
        @include MQ(Splus){
           top: 535px;
        }
         @include MQ(Mplus){
           top: 735px;
        }
        @include MQ(XLplus){
           top: 785px;
        }
    }

    .left-btn {
        position: absolute;
        z-index: 8999;
        left: -55px;
        height: 100%;
        width: 40px;
        cursor: pointer;
         @include MQ(XSplus){
           left: 15px;
        }
         @include MQ(Splus){
           left: 35px;
        }
        @include MQ(Mplus){
           left: -45px;
        }
        @include MQ(Lplus){
           left: -55px;
        }
    }

    .left-btn:hover .arrow-left {
        border-right: 20px solid $limegreen;
        margin-left: -6px;
    }

    .left-btn:hover .arrow-left-overlay {
        margin-left: -4px;
    }

    .right-btn:hover .arrow-right {
        border-left: 20px solid $limegreen;
        margin-left: 6px;
    }

    .right-btn:hover .arrow-right-overlay {
        margin-left: 4px;
    }


    .arrow-left {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right:20px solid $deeppurple;
        position: absolute;
        top: 35%;
        transition-property: border-right, margin-left;
        transition-duration: 0.3s;
    }

    .arrow-left-overlay {
        position: absolute;
        margin-left: 1px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right:20px solid white;
        top: 35%;
        transition-property: margin-left;
        transition-duration: 0.3s;
    }

    .right-btn {
        position: absolute;
        right: -55px;
        height: 100%;
        width: 40px;
        cursor: pointer;
        z-index: 1000;
        @include MQ(XSplus){
            right: -25px;
        }
        @include MQ(Splus){
           right: -35px;
        }
        @include MQ(Mplus){
            right: -85px;
        }
    }

    .arrow-right {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left:20px solid $deeppurple;
        position: absolute;
        top: 35%;
        transition-property: border-left, margin-left;
        transition-duration: 0.3s;
    }

    .arrow-right-overlay {
        position: absolute;
        margin-left: -1px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left:20px solid white;
        top: 35%;
        transition-property: margin-left;
        transition-duration: 0.3s;
    }
    .owl-item {
        float: left;
    }
    .circle-stories {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .circle-story {
        float: left;
        margin-right: 1.5em;
        @include MQ(Mplus){
            margin-right: 1em;
        }
    }

    .circle-story:last-child{
        margin-right: 0;
    }

    .circle-container {
        margin: 0 auto;
        overflow: hidden;
    }

    .logo-container {
        position: absolute;
        height: 40%;
        left: 56%;
        top: 13%;
    }


    .project-link:hover .circle, .action:hover .circle{
        border: 1px solid $limegreen;
    }

    .circle {
        left: 2em;
         @include MQ(XSplus){
            padding: 24%;
            left: 4.5em;
         }
         @include MQ(Splus){
            left: 6em;
         }
         @include MQ(Mplus){
            padding: 33%;
            left: 2.4em;
        }

        transition-property: border;
        transition-duration: 0.3s;

            img {
                position: absolute;
                width: 100px;
                height: 80px;
                 @include MQ(XSplus){
                    margin-top: 10px;
                 }
                 @include MQ(Mplus){
                    margin-top: 5px;
                 }

            }

            .project-title {
                text-align: center;
                width: 80%;
                border-top: 1px solid $medpurple;
                position: absolute;
                bottom: 18%;
                left: 10%;
                padding-top: 11px;
                font-size: 26px;
                font-weight: 500;
                 @include MQ(XSplus){
                    font-size: 16px;
                    padding-top: 8px;
                }
                @include MQ(Splus){
                    padding-top: 4px;
                }
                @include MQ(Mplus){
                    font-size: 20px;
                    padding-top: 4px;
                }
                @include MQ(XLplus){
                    font-size: 24px;
                }
            }

    }

    .brief {
        position: relative;
        margin-top: 30px;
        padding: 0 5px 0 5px;
        @include MQ(Splus){
            height: 150px;
        }
        @include MQ(Mplus){
            height: 160px;
        }
        @include MQ(MidMplus){
            height: 120px;
        }
        @include MQ(Lplus){
            height: 150px;
        }
        @include MQ(XLplus){
           padding: 0 10px 0 10px;
           height: 235px;
           overflow: hidden;
        }

    }

    .action {
        display: block;
        @include MQ(XSplus){
            font-size: 14px;
            width: 50%;
            margin-top: 0px;
        }
        @include MQ(Splus){
            width: 85%;
            font-size: 16px;
            margin-top: -10px;
        }
        @include MQ(Mplus){
            font-size: 18px;
            letter-spacing: .05em;
            margin-top: 20px;
        }
        @include MQ(XLplus){
            font-size: 20px;
        }


    }



}

#about{
    position: relative;
    width: 100%;
    overflow: hidden;

    .description {
        width: 70%;
        float: right;
        @include MQ(XSplus){
            float: left;
            width: 100%;
            margin-top: 230px;
        }
        @include MQ(Mplus){
            font-size: 16px;
            margin-top: 0px;
            letter-spacing: .05em;
        }
        @include MQ(XLplus){
            font-size: 20px;
        }

    }

    h2 {
        font-weight: normal;
    }

    .intro {
        @include MQ(XSplus){
            font-size: 18px;
        }
        @include MQ(Mplus){
            font-size: 21px;
        }
        @include MQ(XLplus){
            font-size: 23px;
        }

    }

    .background {
        a {
            text-decoration: underline;
        }
        @include MQ(XSplus){
             float: left;
             margin-left: 0px;
        }
        @include MQ(Mplus){
            float: right;
            margin-left: 3em;
            width: 60%;
        }
    }

    .outro {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 2em;
        float: left;
        text-align: center;
        @include MQ(XSplus){
            font-size: 18px;
            text-align: left;
        }
        @include MQ(Splus){
            font-size: 22px;
        }
        @include MQ(Mplus){
            font-size: 26px;
            text-align: left;
        }
        @include MQ (MidMplus){
            width: 65%;
            text-align: center;
            float: right;
        }
        @include MQ (XLplus){
            font-size: 30px;
        }

    }

    .circle-container {
        width: 45%;
        height: auto;
        position: absolute;
        top: 8%;
        @include MQ(XStoM){
            top: 0;
            width: 100%;
        }
        @include MQ(Splus){

        }
        @include MQ(Mplus){
            top: 80px;
        }
        @include MQ(Lplus){

        }

    }

    .circle {

        @include MQ(XSplus){
            left: 15%;
        }
        @include MQ(Splus){
            padding: 25%;
            left: 23%;
        }
        @include MQ(Mplus){
            padding: 40%;
            top: 35px;
            left: 0;
        }
        @include MQ(XLplus){
            padding: 36%;
        }


        img {
            position: absolute;
        }

    }
    .circle:before {
    background: url('../../_/images/GreenNonThreatening.jpg');
    background-size: cover;
    }

    .action {
        width: 80%;
        letter-spacing: .05em;
        font-size: 24px;

        @include MQ(XSplus){
            font-size: 14px;
        }
        @include MQ(Splus){
            font-size: 18px;
        }
         @include MQ(Lplus){
                width: 65%;
        }
        @include MQ(XLplus){
                width: 55%;
                font-size: 20px;
        }
    }

    .resume {
        width: 50%;
        position: relative;
        float: left;

    }

    .portfolio {
        width: 50%;
        position: relative;
        float: left;
    }
    .resume-icon, .portfolio-icon {
        width: 25%;
        position: relative;
        margin: 0 auto;

        img {
            @include MQ(XSplus){
                width: 90%;
            }
            @include MQ(Mplus){
                width: 90%;
            }
        }

    }



}

#hire{
    position: relative;
    margin-top: 50px;
    text-align: center;
    @include MQ(XSplus){
        margin-left: 0;
    }
    @include MQ(Mplus){
        margin-left: 8%;
    }


    h2 {
        font-weight: normal;
        text-align: left;
        margin: 1.5em auto;
        @include MQ(XSplus){
            font-size: 15px;
        }
        @include MQ(Splus){
            font-size: 20px;
        }
         @include MQ(Lplus){
            font-size: 25px;
        }
    }


    .phone, .email {
        position: relative;
        float: left;
        margin-right: 0;
        height: 50px;
        @include MQ(Mplus){
            margin-right: 3em;
        }




        img {
            vertical-align: middle;
            @include MQ(XS){
                width: 36px;
            }
        }
        span {
        font-weight: normal;
        }


    }

    .contact-info {
        height: 50px;
    }
    .number {
        vertical-align: middle;
    }

    .address {
        display: inline-block;
    }
    .hire-me, .follow-me {
        font-size: 30px;
        font-weight: 500;
        position: relative;
        margin: 30px 30px 10px 0px;
        float: left;

        //CSS Triangle
   /* width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 173.2px 100px 0 100px;
    border-color: $limegreen transparent transparent transparent;
    float: left;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);*/



        .btn {
            transition-property: background, color;
            transition-duration: 0.5s;
        }
    }


    .btn:hover  {
        background: $limegreen;
        color: white;
    }

}

.footer {
    color: $lightgray;
    background: $medpurple;
    margin-top: 30px;
    p {
        margin: 0;
        font-size: 10px;
    }
}

