@import url("http://fonts.googleapis.com/css?family=Federo|Raleway:400,500,700,800");
/* Partials */
/* line 55, ../components/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/* line 63, ../components/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 74, ../components/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 84, ../components/sass/_normalize.scss */
[hidden], template {
  display: none; }

/* line 97, ../components/sass/_normalize.scss */
html {
  font-size: 100%;
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 113, ../components/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* line 119, ../components/sass/_normalize.scss */
body {
  margin: 0; }

/* line 132, ../components/sass/_normalize.scss */
a {
  background: transparent; }
  /* line 139, ../components/sass/_normalize.scss */
  a:focus {
    outline: thin dotted; }
  /* line 146, ../components/sass/_normalize.scss */
  a:hover, a:active {
    outline: 0; }

/* line 159, ../components/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 164, ../components/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 169, ../components/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 174, ../components/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 179, ../components/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 184, ../components/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/* line 192, ../components/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 199, ../components/sass/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 204, ../components/sass/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 211, ../components/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 217, ../components/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 225, ../components/sass/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/* line 236, ../components/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 246, ../components/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 254, ../components/sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 263, ../components/sass/_normalize.scss */
q {
  quotes: none; }

/* line 270, ../components/sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 277, ../components/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 285, ../components/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 292, ../components/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 296, ../components/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 309, ../components/sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 315, ../components/sass/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 324, ../components/sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* line 333, ../components/sass/_normalize.scss */
nav ul,
nav ol {
  list-style-image: none; }

/* line 348, ../components/sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 357, ../components/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 367, ../components/sass/_normalize.scss */
figure {
  margin: 0; }

/* line 377, ../components/sass/_normalize.scss */
form {
  margin: 0; }

/* line 384, ../components/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 395, ../components/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 412, ../components/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 425, ../components/sass/_normalize.scss */
button,
input {
  line-height: normal; }

/* line 435, ../components/sass/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 450, ../components/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 461, ../components/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/* line 471, ../components/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 483, ../components/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 494, ../components/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 502, ../components/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 511, ../components/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 522, ../components/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 3, ../components/sass/_base.scss */
body {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #3e3d4d;
  font-family: "Raleway", sans-serif; }

/* line 10, ../components/sass/_base.scss */
span {
  font-weight: bold; }

/* line 14, ../components/sass/_base.scss */
a {
  color: inherit; }

/* line 21, ../components/sass/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 27, ../components/sass/_layout.scss */
[class^="inner"] {
  *zoom: 1;
  width: 90%;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  [class^="inner"]:after {
    content: "";
    display: table;
    clear: both; }

@media only screen and (min-width: 22em) {
  /* line 32, ../components/sass/_layout.scss */
  .innerContent {
    width: 95%; } }
@media only screen and (min-width: 37em) {
  /* line 32, ../components/sass/_layout.scss */
  .innerContent {
    width: 80%; } }
@media only screen and (min-width: 62em) {
  /* line 32, ../components/sass/_layout.scss */
  .innerContent {
    width: 70%; } }

/* line 1, ../components/sass/_rotator.scss */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%; }

/* line 21, ../components/sass/_rotator.scss */
.rotating.flip {
  position: relative; }

/* line 25, ../components/sass/_rotator.scss */
.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

/* line 35, ../components/sass/_rotator.scss */
.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 1px);
  -moz-transform: translate3d(0, 0, 1px);
  -ms-transform: translate3d(0, 0, 1px);
  -o-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px); }

/* line 45, ../components/sass/_rotator.scss */
.rotating.flip .front {
  z-index: 1; }

/* line 49, ../components/sass/_rotator.scss */
.rotating .back {
  display: block;
  opacity: 0; }

/* line 54, ../components/sass/_rotator.scss */
.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0); }

/* line 64, ../components/sass/_rotator.scss */
.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
  -o-transform: rotateY(180deg) translate3d(0, 0, 0);
  transform: rotateY(180deg) translate3d(0, 0, 0); }

/* line 76, ../components/sass/_rotator.scss */
.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
  -o-transform: rotateX(180deg) translate3d(0, 0, 0);
  transform: rotateX(180deg) translate3d(0, 0, 0); }

/* line 84, ../components/sass/_rotator.scss */
.rotating.flip.cube .front {
  -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: translate3d(0, 0, 100px) scale(0.85, 0.85); }

/* line 92, ../components/sass/_rotator.scss */
.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85); }

/* line 100, ../components/sass/_rotator.scss */
.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85); }

/*
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */
/* clearfix */
/* line 7, ../components/sass/_owl.carousel.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
/* line 16, ../components/sass/_owl.carousel.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

/* line 22, ../components/sass/_owl.carousel.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

/* line 27, ../components/sass/_owl.carousel.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

/* line 32, ../components/sass/_owl.carousel.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* line 40, ../components/sass/_owl.carousel.scss */
.owl-carousel .owl-item {
  float: left; }

/* line 44, ../components/sass/_owl.carousel.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

/* line 47, ../components/sass/_owl.carousel.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* mouse grab icon */
/* line 57, ../components/sass/_owl.carousel.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
/* line 63, ../components/sass/_owl.carousel.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/*
*   Owl Carousel Owl Demo Theme
*   v1.3.2
*/
/* line 6, ../components/sass/_owl.theme.scss */
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
/* line 13, ../components/sass/_owl.theme.scss */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* line 30, ../components/sass/_owl.theme.scss */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
/* line 38, ../components/sass/_owl.theme.scss */
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

/* line 43, ../components/sass/_owl.theme.scss */
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791; }

/* line 57, ../components/sass/_owl.theme.scss */
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If PaginationNumbers is true */
/* line 64, ../components/sass/_owl.theme.scss */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

/* preloading images */
/* line 76, ../components/sass/_owl.theme.scss */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center; }

/* line 1, ../components/sass/_modules.scss */
a {
  text-decoration: none; }

/* line 5, ../components/sass/_modules.scss */
h1 {
  font-family: "Federo", sans-serif;
  font-size: 40px;
  letter-spacing: 4.4px;
  font-weight: normal; }

/* line 12, ../components/sass/_modules.scss */
h2 {
  font-size: 22px; }

/* line 16, ../components/sass/_modules.scss */
p {
  font-size: 18px;
  line-height: 1.8; }
  @media only screen and (min-width: 22em) {
    /* line 16, ../components/sass/_modules.scss */
    p {
      font-size: 13px; } }
  @media only screen and (min-width: 37em) {
    /* line 16, ../components/sass/_modules.scss */
    p {
      font-size: 15px; } }
  @media only screen and (min-width: 80em) {
    /* line 16, ../components/sass/_modules.scss */
    p {
      font-size: 18px; } }

/* line 30, ../components/sass/_modules.scss */
.banner {
  height: 40px; }

/* line 35, ../components/sass/_modules.scss */
header {
  color: #535267;
  font-size: 16px;
  height: 25px; }

/* line 41, ../components/sass/_modules.scss */
header .tab {
  float: right;
  position: relative;
  top: 10px; }

/* line 47, ../components/sass/_modules.scss */
.btn {
  border: 1px solid #00ff07;
  padding: 10px 20px; }

/* line 52, ../components/sass/_modules.scss */
.left-right {
  position: absolute;
  height: 150px; }

/*header ul {
    float: right;
    padding-top: 3px;
    margin: 0
}

header ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;

}*/
/*.innerContent {
    @include MQ(XSplus){
        width: 95%;
    }
    @include MQ(Mplus){
        width: 80%;
    }
    @include MQ(Lplus){
        width: 70%;
    }
}*/
/* line 84, ../components/sass/_modules.scss */
.innerContent {
  position: relative; }

/* line 88, ../components/sass/_modules.scss */
.action {
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #00ff07;
  color: #535267;
  font-weight: 700; }

/* line 96, ../components/sass/_modules.scss */
.action:hover {
  border-bottom: 2px solid #00ff07; }

/* line 100, ../components/sass/_modules.scss */
.circle {
  display: block;
  float: left;
  padding: 33%;
  width: auto;
  height: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  border: 1px solid #3e3d4d;
  text-align: center;
  position: relative;
  margin: 0 auto; }

/* line 116, ../components/sass/_modules.scss */
.circle:before {
  content: " ";
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: -moz-linear-gradient(45deg, rgba(31, 30, 102, 0.09) 0%, rgba(85, 84, 139, 0.04) 24%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(31, 30, 102, 0.09)), color-stop(24%, rgba(85, 84, 139, 0.04)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, rgba(31, 30, 102, 0.09) 0%, rgba(85, 84, 139, 0.04) 24%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, rgba(31, 30, 102, 0.09) 0%, rgba(85, 84, 139, 0.04) 24%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(31, 30, 102, 0.09) 0%, rgba(85, 84, 139, 0.04) 24%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(45deg, rgba(31, 30, 102, 0.09) 0%, rgba(85, 84, 139, 0.04) 24%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171f1e66', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

/****************** Menu *****************/
/* line 140, ../components/sass/_modules.scss */
.bt-menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s; }

/* line 155, ../components/sass/_modules.scss */
.bt-menu.bt-menu-open {
  height: 100%;
  border-width: 0px 0px 50px 150px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s; }

/* line 163, ../components/sass/_modules.scss */
.bt-overlay {
  position: absolute;
  width: 100%; }

/* line 168, ../components/sass/_modules.scss */
.bt-menu-open .bt-overlay {
  height: 100%; }

/* line 172, ../components/sass/_modules.scss */
.bt-menu-trigger {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer; }

/* line 183, ../components/sass/_modules.scss */
.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 35%;
  height: 4%;
  background-color: #535267;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  @media only screen and (min-width: 37em) {
    /* line 183, ../components/sass/_modules.scss */
    .bt-menu-trigger span {
      width: 50%;
      height: 5%; } }
  @media only screen and (min-width: 80em) {
    /* line 183, ../components/sass/_modules.scss */
    .bt-menu-trigger span {
      width: 70%;
      height: 7%; } }

/* line 211, ../components/sass/_modules.scss */
.bt-menu-trigger:hover span {
  background-color: #00ff07; }

/* line 216, ../components/sass/_modules.scss */
.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #535267;
  content: '';
  -webkit-transition-property: transform background-color;
  transition-property: transform, color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

/* line 230, ../components/sass/_modules.scss */
.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%); }

/* line 235, ../components/sass/_modules.scss */
.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%); }

/* line 240, ../components/sass/_modules.scss */
.bt-menu-open .bt-menu-trigger span {
  background-color: transparent; }

/* line 244, ../components/sass/_modules.scss */
.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  background-color: white; }

/* line 250, ../components/sass/_modules.scss */
.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  background-color: white; }

/* line 258, ../components/sass/_modules.scss */
.bt-menu ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 265, ../components/sass/_modules.scss */
.bt-menu ul:first-of-type {
  top: 75px;
  left: -10em; }

/* line 270, ../components/sass/_modules.scss */
.bt-menu-open ul:first-of-type {
  top: 75px;
  left: 0em; }

/* line 275, ../components/sass/_modules.scss */
.bt-menu ul:nth-of-type(2) {
  right: 0;
  bottom: 0; }

/* line 281, ../components/sass/_modules.scss */
.bt-menu ul li,
.bt-menu ul li a {
  display: block; }

/* line 285, ../components/sass/_modules.scss */
.bt-menu ul:nth-of-type(2) li {
  float: left;
  font-size: 0px; }

/* line 290, ../components/sass/_modules.scss */
.bt-menu ul li {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s; }

/* line 298, ../components/sass/_modules.scss */
.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
  transition: transform 0.3s, opacity 0.3s; }

/* First menu */
/* line 306, ../components/sass/_modules.scss */
.bt-menu ul:first-of-type li {
  width: 150px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translate3d(-100%, 50%, 0);
  transform: translate3d(-100%, 50%, 0); }

/* line 314, ../components/sass/_modules.scss */
.bt-menu.bt-menu-open ul:first-of-type li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Second menu */
/* line 320, ../components/sass/_modules.scss */
.bt-menu ul:nth-of-type(2) li {
  width: 60px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: scale(0);
  transform: scale(0); }

/* line 328, ../components/sass/_modules.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

/* line 333, ../components/sass/_modules.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

/* line 338, ../components/sass/_modules.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

/* line 343, ../components/sass/_modules.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

/* line 348, ../components/sass/_modules.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  -webkit-transform: scale(1);
  transform: scale(1); }

/* line 353, ../components/sass/_modules.scss */
.bt-menu ul li a {
  display: block;
  outline: none;
  text-decoration: none; }

/* line 359, ../components/sass/_modules.scss */
.bt-menu ul:first-of-type li a {
  padding: 0 20px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

/* line 370, ../components/sass/_modules.scss */
.bt-menu ul:first-of-type li:last-child a {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px rgba(0, 0, 0, 0.2); }

/* line 374, ../components/sass/_modules.scss */
.bt-menu ul:nth-of-type(2) li a {
  color: transparent;
  text-align: center;
  font-size: 0px; }

/* line 380, ../components/sass/_modules.scss */
.bt-menu ul li a:before {
  color: #fff;
  font-size: 24px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

/* line 390, ../components/sass/_modules.scss */
.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
  color: #99ff9c; }

/*.panel {
  background: rgb(42, 58, 73);
  z-index: 9999;
  position: fixed;
  right: -10em;
}

.panel ul {
    width: 100%;
    padding: 0;
}

.panel ul li {
    line-height: 1.5;
    display: list-item;
    list-style: none;
    padding: 0;
}

.panel a:hover {
    border-bottom: 1px solid $limegreen;
}

.panel li a {
    color: white;
    display: block;
    margin: 1.2em;
    border-bottom: 1px solid rgb(42, 58, 73);
    transition-property: border-bottom;
    transition-duration: 0.3s;
}*/
/* line 427, ../components/sass/_modules.scss */
.eye-catcher {
  margin: 0 auto;
  position: relative;
  margin-top: 30px; }
  @media only screen and (min-width: 22em) {
    /* line 427, ../components/sass/_modules.scss */
    .eye-catcher {
      height: 144px;
      margin-top: 10px; } }
  @media only screen and (min-width: 37em) {
    /* line 427, ../components/sass/_modules.scss */
    .eye-catcher {
      height: 216px;
      /*width: 315px;*/
      margin-top: 20px; } }
  @media only screen and (min-width: 80em) {
    /* line 427, ../components/sass/_modules.scss */
    .eye-catcher {
      height: 288px; } }

/* line 446, ../components/sass/_modules.scss */
.inverted-triangle {
  margin: 0 auto;
  background: url("../images/invertedTriangle.png");
  background-size: contain; }
  @media only screen and (min-width: 22em) {
    /* line 446, ../components/sass/_modules.scss */
    .inverted-triangle {
      width: 210px;
      height: 144px; } }
  @media only screen and (min-width: 37em) {
    /* line 446, ../components/sass/_modules.scss */
    .inverted-triangle {
      width: 315px;
      height: 216px; } }
  @media only screen and (min-width: 80em) {
    /* line 446, ../components/sass/_modules.scss */
    .inverted-triangle {
      width: 420px;
      height: 288px; } }

/* line 464, ../components/sass/_modules.scss */
.eye-catcher img.logo {
  position: relative;
  top: -220px;
  display: block;
  margin: 0 auto; }
  @media only screen and (min-width: 22em) {
    /* line 464, ../components/sass/_modules.scss */
    .eye-catcher img.logo {
      width: 80px;
      height: 80px;
      top: -143px; } }
  @media only screen and (min-width: 37em) {
    /* line 464, ../components/sass/_modules.scss */
    .eye-catcher img.logo {
      width: 135px;
      height: 135px;
      top: -230px; } }
  @media only screen and (min-width: 80em) {
    /* line 464, ../components/sass/_modules.scss */
    .eye-catcher img.logo {
      width: 170px;
      height: 170px;
      top: -310px; } }

/* line 486, ../components/sass/_modules.scss */
.eye-catcher h1 {
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center; }
  @media only screen and (min-width: 22em) {
    /* line 486, ../components/sass/_modules.scss */
    .eye-catcher h1 {
      font-size: 18px;
      bottom: 122px; } }
  @media only screen and (min-width: 37em) {
    /* line 486, ../components/sass/_modules.scss */
    .eye-catcher h1 {
      font-size: 24px;
      bottom: 195px; } }
  @media only screen and (min-width: 80em) {
    /* line 486, ../components/sass/_modules.scss */
    .eye-catcher h1 {
      font-size: 34px;
      bottom: 265px; } }

/* line 505, ../components/sass/_modules.scss */
.definition {
  line-height: 2.2; }
  @media only screen and (max-width: 37em) {
    /* line 505, ../components/sass/_modules.scss */
    .definition {
      display: none; } }

/* line 512, ../components/sass/_modules.scss */
.explanation {
  margin: 40px auto; }

/* line 517, ../components/sass/_modules.scss */
.explanation h2 {
  display: block;
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3e3d4d), color-stop(31%, #3e3d4d), color-stop(96%, #7d7ca3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #3e3d4d 0%, #3e3d4d 31%, #7d7ca3 96%);
  /* Chrome10+,Safari5.1+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media only screen and (min-width: 22em) {
    /* line 517, ../components/sass/_modules.scss */
    .explanation h2 {
      font-size: 17px;
      margin-top: 25px; } }
  @media only screen and (min-width: 37em) {
    /* line 517, ../components/sass/_modules.scss */
    .explanation h2 {
      font-size: 22px;
      margin-top: 35px; } }
  @media only screen and (min-width: 80em) {
    /* line 517, ../components/sass/_modules.scss */
    .explanation h2 {
      font-size: 34px;
      bottom: 265px;
      margin-top: 60px; } }

/* line 542, ../components/sass/_modules.scss */
#projects {
  margin-bottom: 150px;
  position: relative; }
  @media only screen and (min-width: 22em) {
    /* line 542, ../components/sass/_modules.scss */
    #projects {
      margin-top: 60px;
      margin-bottom: 60px; } }
  @media only screen and (min-width: 37em) {
    /* line 542, ../components/sass/_modules.scss */
    #projects {
      margin-top: 80px; } }
  @media only screen and (min-width: 80em) {
    /* line 542, ../components/sass/_modules.scss */
    #projects {
      margin-top: 150px; } }
  /* line 556, ../components/sass/_modules.scss */
  #projects .left-right {
    top: 25px;
    width: 97%; }
    @media only screen and (min-width: 22em) {
      /* line 556, ../components/sass/_modules.scss */
      #projects .left-right {
        top: -15px; } }
    @media only screen and (min-width: 37em) {
      /* line 556, ../components/sass/_modules.scss */
      #projects .left-right {
        top: 15px; } }
  /* line 567, ../components/sass/_modules.scss */
  #projects .left-btn {
    position: absolute;
    z-index: 9998;
    left: -55px;
    height: 100%;
    width: 40px;
    cursor: pointer; }
    @media only screen and (min-width: 22em) {
      /* line 567, ../components/sass/_modules.scss */
      #projects .left-btn {
        left: 15px; } }
    @media only screen and (min-width: 22em) {
      /* line 567, ../components/sass/_modules.scss */
      #projects .left-btn {
        left: 0; } }
    @media only screen and (min-width: 62em) {
      /* line 567, ../components/sass/_modules.scss */
      #projects .left-btn {
        left: -55px; } }
  /* line 585, ../components/sass/_modules.scss */
  #projects .left-btn:hover .arrow-left {
    border-right: 20px solid #00ff07;
    margin-left: -6px; }
  /* line 590, ../components/sass/_modules.scss */
  #projects .left-btn:hover .arrow-left-overlay {
    margin-left: -4px; }
  /* line 594, ../components/sass/_modules.scss */
  #projects .right-btn:hover .arrow-right {
    border-left: 20px solid #00ff07;
    margin-left: 6px; }
  /* line 599, ../components/sass/_modules.scss */
  #projects .right-btn:hover .arrow-right-overlay {
    margin-left: 4px; }
  /* line 604, ../components/sass/_modules.scss */
  #projects .arrow-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #3e3d4d;
    position: absolute;
    top: 35%;
    transition-property: border-right, margin-left;
    transition-duration: 0.3s; }
  /* line 616, ../components/sass/_modules.scss */
  #projects .arrow-left-overlay {
    position: absolute;
    margin-left: 1px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
    top: 35%;
    transition-property: margin-left;
    transition-duration: 0.3s; }
  /* line 629, ../components/sass/_modules.scss */
  #projects .right-btn {
    position: absolute;
    right: -55px;
    height: 100%;
    width: 40px;
    cursor: pointer;
    z-index: 1000; }
    @media only screen and (min-width: 22em) {
      /* line 629, ../components/sass/_modules.scss */
      #projects .right-btn {
        right: -25px; } }
    @media only screen and (min-width: 62em) {
      /* line 629, ../components/sass/_modules.scss */
      #projects .right-btn {
        right: -85px; } }
  /* line 644, ../components/sass/_modules.scss */
  #projects .arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #3e3d4d;
    position: absolute;
    top: 35%;
    transition-property: border-left, margin-left;
    transition-duration: 0.3s; }
  /* line 656, ../components/sass/_modules.scss */
  #projects .arrow-right-overlay {
    position: absolute;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
    top: 35%;
    transition-property: margin-left;
    transition-duration: 0.3s; }
  /* line 668, ../components/sass/_modules.scss */
  #projects .owl-item {
    float: left; }
  /* line 671, ../components/sass/_modules.scss */
  #projects .circle-stories {
    width: 100%;
    position: relative;
    overflow: hidden; }
  /* line 677, ../components/sass/_modules.scss */
  #projects .circle-story {
    float: left;
    margin-right: 1.5em; }
    @media only screen and (min-width: 37em) {
      /* line 677, ../components/sass/_modules.scss */
      #projects .circle-story {
        margin-right: 1em; } }
  /* line 685, ../components/sass/_modules.scss */
  #projects .circle-story:last-child {
    margin-right: 0; }
  /* line 689, ../components/sass/_modules.scss */
  #projects .circle-container {
    margin: 0 auto;
    overflow: hidden; }
  /* line 694, ../components/sass/_modules.scss */
  #projects .logo-container {
    position: absolute;
    height: 40%;
    left: 56%;
    top: 13%; }
  /* line 702, ../components/sass/_modules.scss */
  #projects .project-link:hover .circle, #projects .action:hover .circle {
    border: 1px solid #00ff07; }
  /* line 706, ../components/sass/_modules.scss */
  #projects .circle {
    left: 2em;
    transition-property: border;
    transition-duration: 0.3s; }
    @media only screen and (min-width: 22em) {
      /* line 706, ../components/sass/_modules.scss */
      #projects .circle {
        padding: 24%;
        left: 4.5em; } }
    @media only screen and (min-width: 29em) {
      /* line 706, ../components/sass/_modules.scss */
      #projects .circle {
        left: 3em; } }
    @media only screen and (min-width: 37em) {
      /* line 706, ../components/sass/_modules.scss */
      #projects .circle {
        padding: 33%;
        left: 2.4em; } }
    /* line 723, ../components/sass/_modules.scss */
    #projects .circle img {
      position: absolute;
      width: 100px;
      height: 80px; }
    /* line 729, ../components/sass/_modules.scss */
    #projects .circle .project-title {
      text-align: center;
      width: 80%;
      border-top: 1px solid #535267;
      position: absolute;
      bottom: 18%;
      left: 10%;
      padding-top: 11px;
      font-size: 26px;
      font-weight: 500; }
      @media only screen and (min-width: 22em) {
        /* line 729, ../components/sass/_modules.scss */
        #projects .circle .project-title {
          font-size: 16px;
          padding-top: 8px; } }
      @media only screen and (min-width: 29em) {
        /* line 729, ../components/sass/_modules.scss */
        #projects .circle .project-title {
          padding-top: 4px;
          font-size: 14px; } }
      @media only screen and (min-width: 37em) {
        /* line 729, ../components/sass/_modules.scss */
        #projects .circle .project-title {
          font-size: 20px;
          padding-top: 4px; } }
      @media only screen and (min-width: 80em) {
        /* line 729, ../components/sass/_modules.scss */
        #projects .circle .project-title {
          font-size: 24px; } }
  /* line 758, ../components/sass/_modules.scss */
  #projects .brief {
    position: relative;
    margin-top: 30px;
    padding: 0 5px 0 5px; }
    @media only screen and (min-width: 29em) {
      /* line 758, ../components/sass/_modules.scss */
      #projects .brief {
        height: 150px; } }
    @media only screen and (min-width: 37em) {
      /* line 758, ../components/sass/_modules.scss */
      #projects .brief {
        height: 160px; } }
    @media only screen and (min-width: 51em) {
      /* line 758, ../components/sass/_modules.scss */
      #projects .brief {
        height: 120px; } }
    @media only screen and (min-width: 62em) {
      /* line 758, ../components/sass/_modules.scss */
      #projects .brief {
        height: 150px; } }
    @media only screen and (min-width: 80em) {
      /* line 758, ../components/sass/_modules.scss */
      #projects .brief {
        padding: 0 10px 0 10px;
        height: 235px;
        overflow: hidden; } }
  /* line 782, ../components/sass/_modules.scss */
  #projects .action {
    display: block;
    width: 80%;
    margin-top: 10px; }
    @media only screen and (min-width: 22em) {
      /* line 782, ../components/sass/_modules.scss */
      #projects .action {
        font-size: 14px;
        width: 50%; } }
    @media only screen and (min-width: 29em) {
      /* line 782, ../components/sass/_modules.scss */
      #projects .action {
        width: 75%; } }
    @media only screen and (min-width: 37em) {
      /* line 782, ../components/sass/_modules.scss */
      #projects .action {
        font-size: 16px;
        letter-spacing: .05em; } }
    @media only screen and (min-width: 80em) {
      /* line 782, ../components/sass/_modules.scss */
      #projects .action {
        font-size: 20px; } }

/* line 807, ../components/sass/_modules.scss */
#about {
  position: relative;
  width: 100%;
  overflow: hidden; }
  /* line 812, ../components/sass/_modules.scss */
  #about .description {
    width: 70%;
    float: right; }
    @media only screen and (min-width: 22em) {
      /* line 812, ../components/sass/_modules.scss */
      #about .description {
        float: left;
        width: 100%;
        margin-top: 230px; } }
    @media only screen and (min-width: 37em) {
      /* line 812, ../components/sass/_modules.scss */
      #about .description {
        font-size: 16px;
        margin-top: 0px;
        letter-spacing: .05em; } }
    @media only screen and (min-width: 80em) {
      /* line 812, ../components/sass/_modules.scss */
      #about .description {
        font-size: 20px; } }
  /* line 831, ../components/sass/_modules.scss */
  #about h2 {
    font-weight: normal; }
  @media only screen and (min-width: 22em) {
    /* line 835, ../components/sass/_modules.scss */
    #about .intro {
      font-size: 18px; } }
  @media only screen and (min-width: 37em) {
    /* line 835, ../components/sass/_modules.scss */
    #about .intro {
      font-size: 21px; } }
  @media only screen and (min-width: 80em) {
    /* line 835, ../components/sass/_modules.scss */
    #about .intro {
      font-size: 23px; } }
  @media only screen and (min-width: 22em) {
    /* line 848, ../components/sass/_modules.scss */
    #about .background {
      float: left;
      margin-left: 0px; } }
  @media only screen and (min-width: 37em) {
    /* line 848, ../components/sass/_modules.scss */
    #about .background {
      float: right;
      margin-left: 3em;
      width: 60%; } }
  /* line 860, ../components/sass/_modules.scss */
  #about .outro {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2em;
    float: left;
    text-align: center; }
    @media only screen and (min-width: 22em) {
      /* line 860, ../components/sass/_modules.scss */
      #about .outro {
        font-size: 20px;
        text-align: left; } }
    @media only screen and (min-width: 29em) {
      /* line 860, ../components/sass/_modules.scss */
      #about .outro {
        font-size: 22px; } }
    @media only screen and (min-width: 37em) {
      /* line 860, ../components/sass/_modules.scss */
      #about .outro {
        font-size: 26px;
        text-align: left; } }
    @media only screen and (min-width: 51em) {
      /* line 860, ../components/sass/_modules.scss */
      #about .outro {
        width: 65%;
        text-align: center;
        float: right; } }
    @media only screen and (min-width: 80em) {
      /* line 860, ../components/sass/_modules.scss */
      #about .outro {
        font-size: 30px; } }
  /* line 890, ../components/sass/_modules.scss */
  #about .circle-container {
    width: 45%;
    height: auto;
    position: absolute;
    top: 8%; }
    @media only screen and (min-width: 22em) and (max-width: 36em) {
      /* line 890, ../components/sass/_modules.scss */
      #about .circle-container {
        top: 0;
        width: 100%; } }
    @media only screen and (min-width: 37em) {
      /* line 890, ../components/sass/_modules.scss */
      #about .circle-container {
        top: 80px; } }
  @media only screen and (min-width: 22em) {
    /* line 911, ../components/sass/_modules.scss */
    #about .circle {
      left: 15%; } }
  @media only screen and (min-width: 29em) {
    /* line 911, ../components/sass/_modules.scss */
    #about .circle {
      padding: 25%;
      left: 23%; } }
  @media only screen and (min-width: 37em) {
    /* line 911, ../components/sass/_modules.scss */
    #about .circle {
      padding: 40%;
      top: 35px;
      left: 0; } }
  @media only screen and (min-width: 80em) {
    /* line 911, ../components/sass/_modules.scss */
    #about .circle {
      padding: 36%; } }
  /* line 930, ../components/sass/_modules.scss */
  #about .circle img {
    position: absolute; }
  /* line 935, ../components/sass/_modules.scss */
  #about .circle:before {
    background: url("../../_/images/gravatarBIG.jpg");
    background-size: 100%; }
  /* line 940, ../components/sass/_modules.scss */
  #about .action {
    width: 80%;
    letter-spacing: .05em;
    font-size: 24px; }
    @media only screen and (min-width: 22em) {
      /* line 940, ../components/sass/_modules.scss */
      #about .action {
        font-size: 14px; } }
    @media only screen and (min-width: 29em) {
      /* line 940, ../components/sass/_modules.scss */
      #about .action {
        font-size: 18px; } }
    @media only screen and (min-width: 62em) {
      /* line 940, ../components/sass/_modules.scss */
      #about .action {
        width: 65%; } }
    @media only screen and (min-width: 80em) {
      /* line 940, ../components/sass/_modules.scss */
      #about .action {
        width: 55%; } }
  /* line 959, ../components/sass/_modules.scss */
  #about .resume {
    width: 50%;
    position: relative;
    float: left; }
  /* line 966, ../components/sass/_modules.scss */
  #about .portfolio {
    width: 50%;
    position: relative;
    float: left; }
  /* line 971, ../components/sass/_modules.scss */
  #about .resume-icon, #about .portfolio-icon {
    width: 25%;
    position: relative;
    margin: 0 auto; }
    @media only screen and (min-width: 22em) {
      /* line 976, ../components/sass/_modules.scss */
      #about .resume-icon img, #about .portfolio-icon img {
        width: 90%; } }
    @media only screen and (min-width: 37em) {
      /* line 976, ../components/sass/_modules.scss */
      #about .resume-icon img, #about .portfolio-icon img {
        width: 90%; } }

/* line 991, ../components/sass/_modules.scss */
#hire {
  position: relative;
  margin-top: 50px;
  text-align: center; }
  @media only screen and (min-width: 22em) {
    /* line 991, ../components/sass/_modules.scss */
    #hire {
      margin-left: 0; } }
  @media only screen and (min-width: 37em) {
    /* line 991, ../components/sass/_modules.scss */
    #hire {
      margin-left: 8%; } }
  /* line 1003, ../components/sass/_modules.scss */
  #hire h2 {
    font-weight: normal;
    text-align: left;
    margin: 1.5em auto; }
    @media only screen and (min-width: 22em) {
      /* line 1003, ../components/sass/_modules.scss */
      #hire h2 {
        font-size: 15px; } }
    @media only screen and (min-width: 29em) {
      /* line 1003, ../components/sass/_modules.scss */
      #hire h2 {
        font-size: 20px; } }
    @media only screen and (min-width: 62em) {
      /* line 1003, ../components/sass/_modules.scss */
      #hire h2 {
        font-size: 25px; } }
  /* line 1019, ../components/sass/_modules.scss */
  #hire .phone, #hire .email {
    position: relative;
    float: left;
    margin-right: 0;
    height: 50px; }
    @media only screen and (min-width: 37em) {
      /* line 1019, ../components/sass/_modules.scss */
      #hire .phone, #hire .email {
        margin-right: 3em; } }
    /* line 1031, ../components/sass/_modules.scss */
    #hire .phone img, #hire .email img {
      vertical-align: middle; }
      @media only screen and (min-width: 22em) and (max-width: 28em) {
        /* line 1031, ../components/sass/_modules.scss */
        #hire .phone img, #hire .email img {
          width: 36px; } }
    /* line 1037, ../components/sass/_modules.scss */
    #hire .phone span, #hire .email span {
      font-weight: normal; }
  /* line 1044, ../components/sass/_modules.scss */
  #hire .contact-info {
    height: 50px; }
  /* line 1047, ../components/sass/_modules.scss */
  #hire .number {
    vertical-align: middle; }
  /* line 1051, ../components/sass/_modules.scss */
  #hire .address {
    display: inline-block; }
  /* line 1054, ../components/sass/_modules.scss */
  #hire .hire-me {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    margin: 30px auto 0 auto;
    width: 100%;
    float: left;
    /* width: 0px;
     height: 0px;
     border-style: inset;
     border-width: 173.2px 100px 0 100px;
     border-color: $limegreen transparent transparent transparent;
     float: left;
     transform:rotate(360deg);
     -ms-transform:rotate(360deg);
     -moz-transform:rotate(360deg);
     -webkit-transform:rotate(360deg);
     -o-transform:rotate(360deg);*/ }
    /* line 1077, ../components/sass/_modules.scss */
    #hire .hire-me .btn {
      transition-property: background, color;
      transition-duration: 0.5s; }
  /* line 1084, ../components/sass/_modules.scss */
  #hire .btn:hover {
    background: #00ff07;
    color: white; }

/* line 1091, ../components/sass/_modules.scss */
.footer {
  color: #b2b2b2;
  background: #535267;
  margin-top: 30px; }
  /* line 1095, ../components/sass/_modules.scss */
  .footer p {
    margin: 0;
    font-size: 10px; }
